.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}

.modal-container {
  box-shadow: 0px 10px 20px #00000012;
  border: 2px solid #D8D8D8;
  border-radius: 5px; 
}

.modal-img {
  width: 290px;
  height: 200px;
  box-shadow: 0px 3px 6px #00000029;
}

.modal-container {
  position: fixed;
  width: 40%;
  background-color: white;
}

.modal-body{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 1rem;
  margin-right: 1rem;
  
}

.modal-header {
margin-left: 1rem;
display: flex;
justify-content: space-between;
margin-right: 1rem;
}

.modal-header > h2{
  color: orange
}


.modal-left {
  text-align: left;
  width: 42%;
  margin-right: 2rem;
}

.modal-right {
  text-align: left;
  width: 55%;
}

.card-people.card-stars {
  margin-left: 10px;
}

.card-icons {
  font: normal normal bold 13px/16px Roboto Slab;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.card-time {
  margin-right: 0.7rem;
}

.card-people {
  margin-right: 0.7rem;
}

.card-stars {
  margin-right: 0.7rem;
}

.type-recipe {
  font: normal normal normal 12px/16px Roboto Slab;
  border-radius: 20px;
  background-color: #96bb36;
  color: rgb(255, 255, 255);

  padding: 0.2rem 0.7rem;
  height: 6%;
    margin-top: 1.1rem;
}

.category-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.category-info > h5{
  color: #96bb36;
}

.recipe-details > p{
  color: #96bb36;
  margin: 0;
}

