.register-wrapper {
    display: flex; 
    margin-top: 2rem;
    text-align: left;
}

.register-textbox {
    width: 35%;
    padding-right: 4rem;
}

h1 {
    font-size: 46px;
    color: #F0972A;
    font-family: Roboto Slab;
}

.register-textbox > p {
    font-family: Roboto Slab;
    font-size: 20px;
    color: #A5A5A5;
}

form {
    width: 65%;
    margin-left: 4rem;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.form-names {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-bottom: 1rem;
}

.form-names > label {
    font-family: Roboto Slab;
    font-weight: bolder;
    margin-bottom: 0.7rem;
    color: #F0972A;
}

.form-names > input {
    padding: 5px;
    height: 1.7rem;
    border-radius: 5px;
    font-family: Roboto Slab;
    font-weight: bold;
    border: 1px solid #A5A5A5;
    background: #F0EFEA;
    width: 85%;
    color: #626262;
}

form > button {
    font: normal normal 700 16px/45px Roboto;
    width: 28%;
    height: 2.7rem;
    margin-top: 2rem;
    box-shadow: 0px 3px 6px #00000029;
    border: 0;
    text-align: center;
    border-radius: 6px;
    background: #96BB36 0% 0% no-repeat padding-box;
    font-size: 16px;
    color: #FFFFFF;
}