table {
    border-spacing: 0px 5px;
    width: 100%;
    margin-top: 3rem;
    text-align: left;
    color: gray
}

.property-names {
    background-color: #F8F7F2;
}

th {
    font-family: Roboto Slab;
    font-weight: bolder;
    margin-bottom: 0.7rem;
    color: #F0972A;
}

.table-info {
    background-color: white;
    height: 3.5rem;
}

.table-info > td {
    border-radius: 5px;
}

.my-recipes-category{
    background: var(--green) 0% 0% no-repeat padding-box;
    background: #96BB36 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    width: 40%;
    
}