.profile-textbox {
    width: 20%;
    padding-right: 4rem;
}

h1 {
    font-size: 46px;
    color: #F0972A;
    font-family: Roboto Slab;
}

.profile-textbox>p {
    font-family: Roboto Slab;
    font-size: 20px;
    color: #A5A5A5;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 50%;
}

.profile-form {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    text-align: left;
}

.first-three {
    width: 100%;
}

.last-three {
    width: 100%;
}

.profile-form-names {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.profile-form-names>label {
    font-family: Roboto Slab;
    font-weight: bolder;
    margin-bottom: 0.7rem;
    color: #F0972A;
}

.profile-form-names>input {
    padding: 5px;
    height: 1.7rem;
    border-radius: 5px;
    font-family: Roboto Slab;
    font-weight: bold;
    border: 1px solid #A5A5A5;
    background: #F0EFEA;
    width: 85%;
    color: #626262;
}

.first-three>button {
    font: normal normal 700 16px/40px Roboto;
    width: 40%;
    height: 2.5rem;
    margin-top: 2rem;
    box-shadow: 0px 3px 6px #00000029;
    border: 0;
    text-align: center;
    border-radius: 6px;
    background: #96BB36 0% 0% no-repeat padding-box;
    font-size: 16px;
    color: #FFFFFF;
}

img {
    top: 331px;
    left: 361px;
    width: 123px;
    height: 123px;
    box-shadow: 0px 3px 6px #00000029;
}