@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800&display=swap');

:root {
  /* Colors: */
  --lightgrey: #d8d8d8;
  --white: #ffffff;
  --softwhite: #f8f7f2;
  --orange: #f0972a;
  --midgrey: #a5a5a5;
  --darkgrey: #626262;
  --green: #96bb36;

  /* Font/text values */
  --unnamed-font-family-roboto: Roboto;
  --unnamed-font-family-roboto-slab: Roboto Slab;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-18: 18px;
  --unnamed-font-size-20: 20px;
  --unnamed-font-size-36: 36px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-19: 19px;
  --unnamed-line-spacing-24: 24px;
  --unnamed-line-spacing-26: 26px;
  --unnamed-line-spacing-48: 48px;
  --unnamed-text-transform-uppercase: uppercase;
}

/* Character Styles */
.unnamed-character-style-1 {
  font-family: var(--unnamed-font-family-roboto);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-18);
  line-height: var(--unnamed-line-spacing-24);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--midgrey);
  text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-2 {
  font-family: var(--unnamed-font-family-roboto-slab);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-20);
  line-height: var(--unnamed-line-spacing-26);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--midgrey);
}
.unnamed-character-style-3 {
  font-family: var(--unnamed-font-family-roboto);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-19);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--midgrey);
}
.unnamed-character-style-4 {
  font-family: var(--unnamed-font-family-roboto-slab);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-20);
  line-height: var(--unnamed-line-spacing-26);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--orange);
}
.unnamed-character-style-5 {
  font-family: var(--unnamed-font-family-roboto-slab);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-36);
  line-height: var(--unnamed-line-spacing-48);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--green);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.nav-logo-baby {
  position: relative;
  top: 52px;
  width: 177px;
  height: 58px;
  font-size: 3.7rem;
  font-family: 'Roboto Slab';
  color: #626262;
  font-weight: 700;
  margin-bottom: 1rem;
  
}

.nav-logo-food {
  position: absolute;
  top: 100px;
  left: 375px;
  width: 67px;
  height: 14px;
  color: var(--orange);
  font-size: 0.9rem;
  font-family: 'Roboto Slab';
  font-weight: 600;
  display:inline-block;
  margin-top: 12px;
}

.nav-links a {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-18) / var(--unnamed-line-spacing-24)
    var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--midgrey);
  text-align: left;
  font: normal normal bold 18px/24px Roboto;
  letter-spacing: 0px;
  color: #a5a5a5;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 1;
}
.nav-links span {
  margin-left: 0.5rem;
}

.nav-login-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}

.login-button {
  font: var(--unnamed-font-style-normal) normal 900 16px/19px
    var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  border-radius: 5px;
  color: #a5a5a5;
  font-size: 15px;
  background: var(--softwhite);
  padding: 10px 20px 10px 20px;
  border: solid var(--midgrey) 1px;
  text-decoration: none;
}

.login-button:hover {
  cursor: pointer;
}

.register-button {
  letter-spacing: var(--unnamed-character-spacing-0);
  border-radius: 5px;
  border: 0;
  font: normal normal 900 16px/21px Roboto;
  color: var(--white);
  font-size: 15px;
  background: var(--green) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.register-button:hover {
  cursor: pointer;
}

